[Unit]
Description=Minecraft Server: %i
After=network.target

[Service]
# We use simple because the 'mc-wrapper.sh' stays running 
# as long as the server is alive.
Type=simple

WorkingDirectory=%h/.local/share/minecraft-servers/%i

ExecStart=/home/nandor/mc-wrapper.sh %i

ExecStop=/usr/bin/tmux -L minecraft send-keys -t %i 'save-all' C-m
ExecStop=/usr/bin/tmux -L minecraft send-keys -t %i 'stop' C-m

TimeoutStopSec=60
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target

